:root {
  --primery: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(36, 35, 35, 0.466);
  border-bottom: 1px solid #646362;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: darkgrey;
}

.navbar .navbar-menu a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 1rem;
}

/* ini caranya supaya tulisan menjadi coklat */
.navbar .navbar-menu a:hover {
  color: var(--primery);
}

.navbar .navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primery);
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-menu a:hover::after {
  transform: scaleX(0.5);
}

.navbar .feathericons a {
  color: #fff;
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar .feathericons a:hover {
  color: var(--primery);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 5%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px rgba(37, 29, 29, 0.5);
  line-height: 1.2;
  background-color: #2f3a5642;
}

.hero .content h1 span {
  color: darkgray;
}

.hero .content p {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  mix-blend-mode: difference;
  color: #ffffff;
}

.hero .content .start {
  margin-top: 1rem;
  color: #fff;
  display: inline-block;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  background-color: var(--primery);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .start:hover {
  color: var(--bg);
}

/* About Section */
.about,
.produk,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.produk h2,
.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.about h2 span,
.produk h2 span,
.contact h2 span {
  color: darkgray;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1.5rem;
}

.about .row .content h3 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}

.about .row .content h3 span {
  font-style: italic;
}

.about .row .content h3 span span {
  color: var(--primery);
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}

/* produk section */

.produk p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  padding-bottom: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.produk .fnd::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0.08);
  background: #6a6a6a;
}

.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.produk .row .produk-card {
  text-align: center;
  padding-bottom: 2rem;
}

.produk .row .produk-card img {
  border-radius: 50%;
  width: 60%;
}

.produk .row .produk-card .produk-card-tittle {
  margin: 1rem auto 0.5rem;
}

.produk .row .produk-card .produk-card-price {
  font-weight: 300;
}

/* kontak section */

.contact .row {
  display: flex;
  margin-top: 2rem;
  padding: 3rem 2rem;
  background-color: #222;
  border-radius: 15px;
}
.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--bg);
  border: 1px solid #6a6a6a;
  padding-left: 1.2rem;
  border-radius: 7px;
}
.contact .row form .input-group {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
  background-color: var(--primary);
  cursor: pointer;
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #8f7e7e;
  border-radius: 15px;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
}

.contact .row form h2 {
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--bg);
  border: 1px solid #6a6a6a;
  padding-left: 1.2rem;
  border-radius: 7px;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
  background-color: var(--primery);
  cursor: pointer;
}

.contact .row form .btn:hover {
  color: #614224;
}

/* Footer Section */
footer {
  background-color: var(--primery);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a,
.link a {
  color: #fff;
  margin: 0.5rem;
}

footer .social a:hover,
.link a:hover {
  color: #614224;
}

footer .credit p {
  margin-top: 1rem;
}

footer .credit a {
  font-weight: 700;
  color: #2f3a56;
}

footer {
  display: block;
  margin-top: 2rem;
  padding: 2rem 2rem;
  background-color: #222;
}

footer .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 1rem;
}

footer .row .content {
  flex: 1 1 45rem;
  margin: 1rem 1rem;
}

footer .row .content .social {
  margin: 1rem 0;
}

footer .row .content .social a {
  color: #fff;
  margin-right: 2rem;
}

footer .row .content .links a {
  color: #fff;
  margin-right: 1.5rem;
}

footer .row .content .social a:hover {
  color: #7e5f40;
}

footer .row .content .credit {
  margin-top: 1rem;
}

footer .row .content .credit a {
  font-weight: 700;
  color: #7e5f40;
}
